<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <body style="background-color: aqua"></body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    <h1>ICT Academy</h1>
    <h2>syudent Details</h2>

    <!-- <ul>
        <% for(var i=0;i<names.length;i++){ %>
            
        <li> <%=names[i] %> </li>
       
        <%}%>



    </ul> -->

    <div class="container"></div>

    <div class="row"></div>

    <div class="col col-12 col-sm-6">

        <table class="table">
            <tr><th>STUDENTS</th></tr>
            
            <% for(var i=0;i<names.length;i++){ %>
            
                    <li> <%=names[i] %> </li>
                   
                    <%}%>
            
        </table>


    </div>

    <div class="col col-12 col-sm-6" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur amet vero eius, eligendi exercitationem, mollitia beatae deleniti praesentium quod fuga sapiente nemo maxime! Quisquam magni perferendis eum error consectetur?</div>
</body>
</html>